.container {
	display: block;
	margin: 0 auto;
}

.horse {
	width: 400px;
	height: 400px;
	margin-top: 33px;
	position: absolute;
	top: 100px;
	left: 150px;
}
@media screen and (max-width:794px){
	.horse {
		display: none;
		float: left;
	}
}

.special {
	margin-left: -333px;
}