html {
    box-sizing: border-box;
    font-size: 10px;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	
}

a {
	text-decoration: none;
	color: inherit;
}

.bckBlue {
	background: #a3a8ee;
}

.container {
	width: 1024px;
}

label {
	display: block;
	margin-bottom: 1rem;
}
input,
textarea,
select {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid black;
}