.container {
    display: inline-flex;
    text-align: center;
    height: 400px;
    min-width: 1024px;
    margin-bottom: 40px;
    justify-content: center;
    text-align: center;
}
.emailInput {
    height: 40px;
}